.banner .info .hey::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header ul.navbar li.nav-item a:hover, header ul.navbar li.nav-item a.active {
  color: #854fee;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

input,
select,
option,
textarea,
button {
  border: none;
  outline: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.space-between-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-centered-v {
  display: flex;
  align-items: center;
}

.items-centered-h {
  display: flex;
  justify-content: center;
}

.items-centered-b {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-btn {
  display: inline-block;
  padding: 12px 25px;
  border: 2px solid #854fee;
  border-radius: 4px;
  background-color: #854fee;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  transition: 0.3s;
  box-shadow: 0 10px 26px 0 rgba(0, 0, 0, 0.25);
}
.main-btn:hover {
  background-color: white;
  color: #212529;
}

.main-heading {
  text-align: center;
  margin-bottom: 60px;
}
.main-heading h2 {
  font-size: 35px;
  font-weight: bold;
  color: #212529;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main-heading p {
  font-weight: 600;
  color: #777;
}

.main-text {
  font-weight: 600;
  color: #777777;
  line-height: 1.4;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: #000;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s;
}
.nav-overlay.menu-active {
  width: 100vw;
  z-index: 999;
  opacity: 0.6;
}

header {
  padding: 16px 0;
  background-color: #fff;
  top: 0;
}
header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 26px 12px rgba(0, 0, 0, 0.153);
  z-index: 99;
  animation: slide-down 0.6s;
}
@-webkit-keyframes slide-down {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-down {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
header nav .menu-opener {
  font-size: 24px;
  color: rgba(2, 2, 2, 0.5019607843);
  border: 1px solid #a69e9e;
  padding: 5px 9px;
  border-radius: 4px;
  display: none;
  cursor: pointer;
}
@media (max-width: 991px) {
  header nav .menu-opener {
    display: block;
  }
}
@media (max-width: 991px) {
  header .nav-wrapper {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    z-index: 99999;
    transition: right 0.6s ease-out;
  }
}
@media (max-width: 991px) and (min-width: 576px) {
  header .nav-wrapper {
    width: 300px;
    right: -300px;
  }
}
@media (max-width: 991px) {
  header .nav-wrapper.menu-active {
    right: 0;
  }
}
header ul.navbar {
  display: flex;
  flex-wrap: wrap;
}
header ul.navbar .mobile-menu-head {
  padding: 30px 20px 30px 0;
  display: none;
}
header ul.navbar .mobile-menu-head .menu-closer {
  font-size: 30px;
  cursor: pointer;
}
@media (max-width: 991px) {
  header ul.navbar {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-height: 100vh;
    overflow: auto;
  }
  header ul.navbar li {
    width: 100%;
  }
  header ul.navbar .mobile-menu-head {
    display: flex;
  }
}
header ul.navbar li.nav-item a {
  display: inline-block;
  padding: 15px 27px;
  font-size: 14px;
  font-weight: 600;
  color: #141313;
  transition: 0.3s;
  text-transform: uppercase;
}
.banner {
  background-image: url("../imgs/banner/home-banner.png");
  background-size: cover;
  background-position: top left;
  padding: 100px 0;
}
@media (max-width: 991px) {
  .banner .content {
    flex-direction: column;
  }
}
.banner .info .hey {
  font-size: 50px;
  font-weight: bold;
  width: fit-content;
  position: relative;
}
.banner .info .hey::after {
  content: "";
  left: calc(100% + 20px);
  width: 180px;
  height: 2px;
  background-color: #000;
}
.banner .info .name,
.banner .info .title {
  text-transform: uppercase;
}
.banner .info .name {
  font-size: 70px;
  font-weight: bold;
  line-height: 0.9;
  margin: 15px 0;
}
@media (max-width: 575px) {
  .banner .info .name {
    font-size: 50px;
  }
  .banner .info .hey {
    font-size: 40px;
  }
}
.banner .info .title {
  padding: 10px 0;
  font-size: 24px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.banner .info .btns {
  margin-top: 30px;
}
.banner .info .btns > * + * {
  margin-left: 20px;
}
.banner .info .btns .btn.cv {
  color: #212529;
  background-color: white;
  box-shadow: none;
}
.banner .info .btns .btn.cv:hover {
  color: white;
  background-color: #854fee;
}
@media (max-width: 991px) {
  .banner .image {
    width: 80%;
    margin-top: 60px;
  }
}
@media (max-width: 575px) {
  .banner .image {
    width: 100%;
  }
}

.intro {
  padding: 60px 0;
  background-color: #ececec;
}
@media (max-width: 991px) {
  .intro .content {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.intro .image {
  margin-right: 30px;
}
@media (max-width: 991px) {
  .intro .info {
    margin-bottom: 35px;
    width: 100%;
  }
}
.intro .info .heading {
  font-size: 45px;
  font-weight: bold;
  color: #212529;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 10px;
}
@media (max-width: 575px) {
  .intro .info .heading {
    font-size: 35px;
  }
}
.intro .info .text {
  margin-top: 25px;
}
.intro .info .btn {
  margin-top: 27px;
}

.brands {
  padding: 100px 0;
}
.brands .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  justify-content: space-between;
  gap: 30px 20px;
}
@media (max-width: 575px) {
  .brands .content {
    justify-content: center;
  }
}
.brands .brand {
  padding: 28px 35px;
  border: 1px solid #ddd;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.brands .brand:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 24px rgba(0, 0, 0, 0.201);
}
.brands .brand:hover img {
  -webkit-filter: brightness(0.15);
  -ms-filter: brightness(0.15);
  filter: brightness(0.15);
}
.brands img {
  object-fit: contain;
}

.services {
  padding: 60px 0;
}
.services .content {
  flex-wrap: wrap;
}
.services .serv {
  max-width: 280px;
  margin: 0 auto 20px;
  flex-direction: column;
  background-color: rgba(248, 252, 253, 0.9254901961);
  padding: 50px 0;
  text-align: center;
  transition: box-shadow 0.6s;
}
.services .serv:hover {
  box-shadow: 1px 5px 36px 0 rgba(0, 0, 0, 0.154);
}
@media (min-width: 768px) {
  .services .serv {
    max-width: 48%;
  }
}
@media (min-width: 992px) {
  .services .serv {
    max-width: 30%;
  }
}
@media (min-width: 1200px) {
  .services .serv {
    max-width: 23%;
  }
}
.services .serv .image {
  margin-bottom: 20px;
}
.services .serv .title {
  font-size: 20px;
  font-weight: bold;
  color: #212529;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.services .serv .discription {
  font-weight: 500;
  color: #6c757d;
  line-height: 1.6;
  padding: 0 20px;
}

.portfolio {
  padding: 80px 0 60px;
}
.portfolio .heading {
  font-size: 39px;
  font-weight: bold;
  margin-bottom: 80px;
}
.portfolio .catgs {
  margin-bottom: 40px;
}
.portfolio .catgs .btn.catg {
  background-color: transparent;
  font-weight: 700;
  color: #000;
  padding: 12px 25px;
  cursor: pointer;
}
.portfolio .catgs .btn.catg:first-child {
  padding-left: 0;
}
.portfolio .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
}
.portfolio .project {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100%;
}
@media (max-width: 575px) {
  .portfolio .project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 577px) {
  .portfolio .project {
    width: calc(50% - 15px);
  }
}
@media (min-width: 992px) {
  .portfolio .project {
    width: calc(33.3333% - 20px);
  }
}
@media (min-width: 1200px) {
  .portfolio .project {
    width: calc(25% - 22.5px);
  }
}
.portfolio .project img {
  cursor: pointer;
  margin-bottom: 15px;
}
.portfolio .project img:hover {
  filter: brightness(1.1) drop-shadow(1px 8px 35px #b1afaf);
}
.portfolio .project .title {
  font-size: 25px;
  font-weight: bold;
  color: #212529;
  margin-bottom: 8px;
}
.portfolio .project .categories {
  color: #6c757d;
}

.gallery {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.652);
  display: none;
  cursor: zoom-out;
}
.gallery.active {
  display: flex;
}
.gallery i {
  color: #d6c2c2;
  cursor: pointer;
}
.gallery i:hover {
  color: #fff;
}
.gallery .image {
  display: flex;
  align-items: flex-end;
  flex-flow: column;
}
.gallery .image .closer {
  padding: 10px 0 10px 10px;
}
.gallery .image img {
  cursor: pointer;
}
.gallery .image .position {
  font-size: 14px;
  color: #d6c2c2;
  margin-top: 5px;
}
.gallery .prev,
.gallery .next {
  padding: 30px;
  font-size: 35px;
}
.gallery .prev:active i,
.gallery .next:active i {
  transform: scale(0.9);
}

.monials {
  padding: 60px 0;
}
.monials .owl-carousel .owl-stage {
  padding: 48px 24px !important;
}
.monials .owl-carousel .owl-item {
  width: 100%;
}
@media (min-width: 576px) {
  .monials .owl-carousel .owl-item {
    width: calc(50% - 48px);
  }
}
.monials .owl-carousel .box {
  background-color: #fff;
  padding: 32px 15px;
  box-shadow: 4px 15px 22px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .monials .owl-carousel .box {
    flex-direction: column;
    align-items: center;
  }
}
.monials .owl-carousel .box .image {
  flex-shrink: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .monials .owl-carousel .box .image {
    width: 80px;
    margin: 0 45px 0 0;
  }
}
.monials .owl-carousel .box .name {
  font-size: 21px;
  font-weight: bold;
  color: #212529;
  margin-bottom: 8px;
}
.monials .owl-carousel .box .review {
  font-size: 14px;
  font-weight: bold;
  color: #777777;
  line-height: 1.8;
}
.monials .owl-carousel .bullets {
  display: flex;
  justify-content: center;
}
.monials .owl-carousel .bullets > .bullet + .bullet {
  margin-left: 12px;
}
.monials .owl-carousel .bullets .bullet {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #d6d6d6;
  cursor: pointer;
}
.monials .owl-carousel .bullets .bullet:hover {
  background-color: #869791;
}
.monials .owl-carousel .bullets .bullet.active {
  background-color: #854fee;
}

/*# sourceMappingURL=styles.css.map */
