@use "../helpers/globals" as *;
@use "../helpers/mixins" as *;
@use "../helpers/placeholders" as *;

.banner {
  background: {
    image: url("../imgs/banner/home-banner.png");
    size: cover;
    position: top left;
  }
  padding: 100px 0;
  .content {
    @media (max-width: 991px) {
      flex-direction: column;
    }
  }
  .info {
    .hey {
      @include text-style(50px, bold);
      width: fit-content;
      position: relative;
      &::after {
        content: "";
        @extend %el-centered-v;
        left: calc(100% + 20px);
        width: 180px;
        height: 2px;
        background-color: #000;
      }
    }
    .name,
    .title {
      text-transform: uppercase;
    }
    .name {
      @include text-style(70px, bold, null, 0.9);
      margin: 15px 0;
    }
    @media (max-width: 575px) {
      .name {
        font-size: 50px;
      }
      .hey {
        font-size: 40px;
      }
    }
    .title {
      padding: 10px 0;
      @include text-style(24px, 700);
      font-family: Arial, Helvetica, sans-serif;
    }
    .btns {
      margin-top: 30px;
      > * + * {
        margin-left: 20px;
      }
      .btn.cv {
        color: $main-text-color;
        background-color: white;
        box-shadow: none;
        &:hover {
          color: white;
          background-color: $main-color;
        }
      }
    }
  }
  .image {
    @media (max-width: 991px) {
      width: 80%;
      margin-top: 60px;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
  }
}
.intro {
  padding: 60px 0;
  background-color: $section-background;
  .content {
    @media (max-width: 991px) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }
  .image {
    margin-right: 30px;
  }
  .info {
    @media (max-width: 991px) {
      margin-bottom: 35px;
      width: 100%;
    }
    .heading {
      @include text-style(45px, bold, $main-text-color, 1.1);
      text-transform: uppercase;
      letter-spacing: 10px;
      @media (max-width: 575px) {
        font-size: 35px;
      }
    }
    .text {
      margin-top: 25px;
    }
    .btn {
      margin-top: 27px;
    }
  }
}
.brands {
  padding: 100px 0;
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    justify-content: space-between;
    gap: 30px 20px;
    @media (max-width: 575px) {
      justify-content: center;
    }
  }
  .brand {
    padding: 28px 35px;
    border: 1px solid #ddd;
    transition: transform $main-transition ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      box-shadow: 1px 2px 24px rgba(0, 0, 0, 0.201);
      img {
        @include prefixer(filter, brightness(0.15), (webkit, ms));
      }
    }
  }
  img {
    object-fit: contain;
  }
}
.services {
  padding: 60px 0;
  .content {
    flex-wrap: wrap;
  }
  .serv {
    max-width: 280px;
    margin: 0 auto 20px;
    flex-direction: column;
    background-color: #f8fcfdec;
    padding: 50px 0;
    text-align: center;
    transition: box-shadow $secondary-transition;
    &:hover {
      box-shadow: 1px 5px 36px 0 rgba(0, 0, 0, 0.154);
    }
    @include breakpoint("mobile") {
      max-width: 48%;
    }
    @include breakpoint("medium") {
      max-width: 30%;
    }
    @include breakpoint("large") {
      max-width: 23%;
    }
    .image {
      margin-bottom: 20px;
    }
    .title {
      @include text-style(20px, bold, $main-text-color);
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    .discription {
      @include text-style(null, 500, #6c757d, 1.6);
      padding: 0 20px;
    }
  }
}
.portfolio {
  padding: 80px 0 60px;
  .heading {
    @include text-style(39px, bold);
    margin-bottom: 80px;
  }
  .catgs {
    margin-bottom: 40px;
    .btn.catg {
      background-color: transparent;
      @include text-style(null, 700, #000);
      padding: 12px 25px;
      cursor: pointer;
    }
  }
  .content {
    @include flex(space-between, flex-start, row wrap);
  }
  .project {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    @include breakpoint("small-mobile") {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include breakpoint("small-mobile-min") {
      width: calc(50% - 15px);
    }
    @include breakpoint("medium") {
      width: calc(33.3333% - 20px);
    }
    @include breakpoint("large") {
      width: calc(25% - (90px / 4));
    }
    img {
      cursor: pointer;
      margin-bottom: 15px;
      &:hover {
        filter: brightness(1.1) drop-shadow(1px 8px 35px #b1afaf);
      }
    }
    .title {
      @include text-style(25px, bold, #212529);
      margin-bottom: 8px;
    }
    .categories {
      color: #6c757d;
    }
  }
}
.monials {
  padding: 60px 0;
  .owl-carousel {
    .owl-stage {
      padding: 48px 24px !important;
    }
    .owl-item {
      width: 100%;
      @media (min-width: 576px) {
        width: calc(50% - 48px);
      }
    }
    .box {
      background-color: #fff;
      padding: 32px 15px;
      box-shadow: 4px 15px 22px rgb(0 0 0 / 10%);
      @media (max-width: 991px) {
        flex-direction: column;
        align-items: center;
      }
      .image {
        flex-shrink: 0;
        margin-bottom: 25px;
        width: 100%;
        @media (min-width: 992px) {
          width: 80px;
          margin: 0 45px 0 0;
        }
      }
      .name {
        @include text-style(21px, bold, #212529);
        margin-bottom: 8px;
      }
      .review {
        @include text-style(14px, bold, #777777, 1.8);
      }
    }
    .bullets {
      text-align: center;
      > .bullet + .bullet {
        margin-left: 12px;
      }
      .bullet {
        @include circle(11px);
        background-color: #d6d6d6;
        cursor: pointer;
        &:hover {
          background-color: #869791;
        }
        &.active {
          background-color: $main-color;
        }
      }
    }
  }
}
.subscribe {
  padding: 120px 0;
  background-image: url("../imgs/subscribe-bg.png");
  background-size: cover;
  .content {
    flex-direction: column;
  }
  .heading,
  p.info {
    @include text-style(30px, bold, #f5f5f5);
    margin-bottom: 20px;
  }
  p.info {
    font-size: 16px;
    margin-bottom: 35px;
  }
  form {
    width: 100%;
    @media (max-width: 991px) {
      flex-direction: column;
      align-items: center;
    }
    input[type="email"] {
      padding: 16px;
      background-color: transparent;
      @include text-style(17px, bold, #ffffff);
      border: 1px solid #fff;
      border-radius: 4px;
      margin-bottom: 20px;
      width: 100%;
      @include breakpoint("mobile") {
        max-width: 400px;
      }
      @include breakpoint("medium") {
        width: 400px;
        margin: 0 20px 0 0;
      }
      &::placeholder {
        @include text-style(17px, bold, #ffffff);
      }
    }
    input[type="submit"] {
      padding: 0 30px;
      background-color: #f5f5f5;
      color: #000;
      border-radius: 4px;
      cursor: pointer;
      @media (max-width: 991px) {
        padding: 20px 30px;
      }
    }
  }
}
.gallery-slider {
  @include position-style(fixed, 0, 0);
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.652);
  display: none;
  cursor: zoom-out;
  &.active {
    display: flex;
  }
  .closer,
  .prev,
  .next {
    color: #d6c2c2;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
  .image {
    @include flex(null, flex-end, column);
    .closer {
      padding: 10px 0 10px 10px;
    }
    img {
      cursor: pointer;
    }
    .position {
      @include text-style(14px, null, #d6c2c2);
      margin-top: 5px;
    }
  }
  .prev,
  .next {
    padding: 30px;
    font-size: 35px;
    &:active i {
      transform: scale(0.9);
    }
  }
}
